<!-- Copyright etc -->
<div class="small-print">
    <div class="container">
        <p><a href="#">Terms &amp; Conditions</a> | <a href="#">Privacy Policy</a> | <a href="#">Contact</a></p>
        <p>Copyright &copy; Example.com 2015 </p>
    </div>
</div>

</footer>


<!-- jQuery -->
<script src="../js/jquery-1.11.3.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../js/bootstrap.min.js"></script>

<!-- IE10 viewport bug workaround -->
<script src="../js/ie10-viewport-bug-workaround.js"></script>

</body>

</html>
